<?xml version="1.0"?>
<launch>
  
  <!-- ros_control -->
  <rosparam>
    ur10e_controller:
      type: position_controllers/JointTrajectoryController
      joints:
        - shoulder_pan_joint
        - shoulder_lift_joint
        - elbow_joint
        - wrist_1_joint
        - wrist_2_joint
        - wrist_3_joint
      constraints:
        stopped_velocity_tolerance: 1
  </rosparam> 
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="ur10e_controller "/>

  <!-- Webots -->
  <arg name="no_gui" default="false" doc="Start Webots with minimal GUI"/>
  <include file="$(find webots_ros)/launch/webots.launch">
    <arg name="mode" value="realtime"/>
    <arg name="no_gui" value="$(arg no_gui)"/>
    <arg name="world" value="$(find ur10e_moveit)/../../../worlds/world.wbt"/>
  </include>
  <arg name="auto_close" default="false" doc="Startup mode"/>

  <!-- robot_state_publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" respawn="true" respawn_delay="5" output="log" />

  <!-- MoveIt -->
  <param name="robot_description_semantic" textfile="$(find ur10e_moveit)/config/ur10e_robot.srdf" />
  <rosparam>
    robot_description_kinematics:
      ur10e:
        kinematics_solver: kdl_kinematics_plugin/KDLKinematicsPlugin
        kinematics_solver_search_resolution: 0.005
        kinematics_solver_timeout: 0.005
        goal_joint_tolerance: 0.0001
        goal_position_tolerance: 0.0001
        goal_orientation_tolerance: 0.001
    move_group:
      planning_plugin: ompl_interface/OMPLPlanner
      request_adapters: 
        default_planner_request_adapters/AddTimeParameterization
        default_planner_request_adapters/ResolveConstraintFrames
        default_planner_request_adapters/FixWorkspaceBounds
        default_planner_request_adapters/FixStartStateBounds
        default_planner_request_adapters/FixStartStateCollision
        default_planner_request_adapters/FixStartStatePathConstraints
      start_state_max_bounds_error: 0.1
      moveit_controller_manager: moveit_simple_controller_manager/MoveItSimpleControllerManager
      moveit_manage_controllers: true
      controller_list:
      - name: ur10e_controller
        action_ns: follow_joint_trajectory
        type: FollowJointTrajectory
        default: True
        joints:
          - shoulder_pan_joint
          - shoulder_lift_joint
          - elbow_joint
          - wrist_1_joint
          - wrist_2_joint
          - wrist_3_joint
      planning_scene_monitor:
        publish_planning_scene: true
        publish_geometry_updates: true
        publish_state_updates: true
        publish_transforms_updates: true
  </rosparam>
  <node name="move_group" pkg="moveit_ros_move_group" type="move_group" respawn="true" output="screen" respawn_delay="5" />

</launch>

